In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lecture 6

## Table Review: Welcome Survey

In [ ]:
welcome = Table.read_table('survey_sp26.csv')
welcome.sample(3)

In [ ]:
# On average, how tall are side sleepers?
side_sleepers = welcome.where('sleep_position', are.containing('Side'))
np.average(side_sleepers.column('height'))

In [ ]:
# How many students are at least 6 feet tall?
# First way:
welcome.where('height', are.above_or_equal_to(72)).num_rows

In [ ]:
# Second way
np.count_nonzero(welcome.column('height') >= 72)

In [ ]:
# Third way
np.sum(welcome.column('height') >= 72)

In [ ]:
# Create a table with only the two sleep-related columns, 
# with names 'Position' and 'Early or Late'
two_col = welcome.select('sleep_position', 'early_or_late')
sleep = two_col.relabeled(0, 'Position').relabeled(1, 'Early or Late')
sleep.show(3)

In [ ]:
# Second way
two_col = welcome.drop('height', 'handedness')
sleep = two_col.relabeled(0, 'Position').relabeled(1, 'Early or Late')
sleep.show(3)

## Practice Question: NBA Salaries

In [ ]:
nba = Table.read_table('nba_salaries.csv')
nba.show(3)

In [ ]:
# Question (a)
guards = nba.where('position', 'PG')
guards.where('salary', are.above(15)).column('name')

In [ ]:
# Question (b)
nba.drop('position')
nba.num_columns

## Census ##

In [ ]:
full = Table.read_table('nc-est2019-agesex-res.csv')
full

In [ ]:
partial = full.select('SEX', 'AGE', 'POPESTIMATE2014', 'POPESTIMATE2019')
partial.show(5)

In [ ]:
# Relabel the columns so because POPESTIMATE2014 hurts the eyes to look at and fingers to type
us_pop = partial.relabeled(2, '2014').relabeled(3, '2019')
us_pop.show(5)

In [ ]:
# There's some weird stuff about how this data was recorded...
us_pop.where('AGE', are.above_or_equal_to(100)).sort('AGE')

In [ ]:
# 100 is actually not a category of everyone age 100. It's everyone age 100 and above.
# Furthermore, 999 is obviously not everyone age 999.
# It is a "total" category, so it includes all ages. It sums up all rows
# This is an example of a dataset that is not tidy -
# the 999 row is not its own case, it is a sum of a bunch of other cases

## 2019 Sex Ratios ##

In [ ]:
us_pop_2019 = us_pop.drop('2014')
us_pop_2019.show(3)

In [ ]:
all_ages = us_pop_2019.where('AGE', are.equal_to(999))
all_ages

In [ ]:
infants = us_pop_2019.where('AGE', are.equal_to(0))
infants

In [ ]:
females_all_rows = us_pop_2019.where('SEX', are.equal_to(2))
females = females_all_rows.where('AGE', are.not_equal_to(999))
females.show(3)

In [ ]:
males_all_rows = us_pop_2019.where('SEX', are.equal_to(1))
males = males_all_rows.where('AGE', are.not_equal_to(999))
males.show(3)

In [ ]:
f_to_m_ratios = females.column(2) / males.column(2)

ratios = Table().with_columns(
    'Age', females.column('AGE'),
    'F:M Ratio', f_to_m_ratios
)

ratios

In [ ]:
ratios.sort('Age', descending=True)

## Line Plot

In [ ]:
ratios.plot('Age', 'F:M Ratio')
plots.show();