In [ ]:
from datascience import *
import numpy as np

## Columns of Tables are Arrays ##

In [ ]:
nba = Table.read_table('nba_salaries.csv').where('season', 2020).drop('season')
nba.show(5)

In [ ]:
nba.num_rows

In [ ]:
nba.num_columns

In [ ]:
nba.labels

In [ ]:
warriors = nba.where('team', 'Golden State Warriors')
warriors.show(5)

In [ ]:
warriors.relabeled('salary', '$')

In [ ]:
warriors

In [ ]:
warriors = (
    nba.where('team', 'Golden State Warriors')
    .drop('team')
    .relabeled('salary', '$'))
warriors.show(3)

In [ ]:
warriors.select('$')

In [ ]:
type(warriors.select('$'))

In [ ]:
warriors.column('$')

In [ ]:
type(warriors.column('$'))

In [ ]:
np.sum(warriors.column('$'))

In [ ]:
np.max(warriors.column('$'))

In [ ]:
warriors.column('$').item(0)

In [ ]:
warriors.show(warriors.num_rows)

In [ ]:
np.abs(warriors.column('$'))

In [ ]:
warriors.select('name', '$')

In [ ]:
np.average(warriors.column('$'))

In [ ]:
suns = (
    nba.where('team', 'Phoenix Suns')
    .drop('team')
    .relabeled('salary', '$'))
suns.show(3)

In [ ]:
np.average(suns.column('$'))

In [ ]:
np.sum(warriors.column('$')) - np.sum(suns.column('$'))

In [ ]:
warriors.num_rows

In [ ]:
suns.num_rows

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
warriors.take(0, 1, 2, 3, 4)

In [ ]:
warriors.take(np.arange(5))

In [ ]:
warriors.take(np.arange(5, 10))

In [ ]:
np.sum(warriors.take(np.arange(5)).column('$'))

In [ ]:
np.sum(suns.take(np.arange(5)).column('$'))

In [ ]:
warriors.take(3, 4)

In [ ]:
warriors.select('name', 'position')

In [ ]:
warriors.select(1, 2)

In [ ]:
warriors.take(0, 1, 2).select('name')

In [ ]:
warriors.show(3).select('name')

# Ways to Create a Table #

## Creating a Table from Scratch ##

In [ ]:
streets = make_array('Cleveland', 'Wilder', 'Moore', 'Prior')
streets

In [ ]:
Table()

In [ ]:
merriam_park = Table().with_column('Streets', streets)
merriam_park

## Reading a Table from a File  ##

In [ ]:
du_bois = Table.read_table('du_bois.csv')
du_bois

In [ ]:
du_bois.column('ACTUAL AVERAGE')

In [ ]:
du_bois.column('FOOD')

# Practice question
Use the table functions we learned this week to find the income bracket (“class”) that spent the highest percentage of their income on rent.

## Where Method

In [ ]:
nba = Table.read_table('nba_salaries.csv').where('season', 2025).drop('season') # let's look at the 2025 season now

In [ ]:
nba.where('salary', are.above(10000000))

In [ ]:
nba.where('salary', are.between(10000000, 20000000))

In [ ]:
nba.where('team', are.containing('wolves'))

## Print and string formatting